{% extends 'customer/main.html' %}
{% load static %}
{% block content %}

<!-- 
<style> 
      marquee {
        width: 100%;
        padding: 10px 0;
        background-color: lightblue;
      }
</style> -->

<div class="page-area">
    <div class="breadcumb-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="breadcrumb text-center">
                    <div class="section-headline white-headline">
                        <h3>
                            Contactez-nous
                        </h3>
                    </div>
                    <ul class="breadcrumb-bg">
                        <li class="home-bread">Accueil</li>
                        <li>Contact</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="contact-area page-padding">
    <div class="container">
        <div class="row">
            <div class="contact-inner">
                <!-- Start contact icon column -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="contact-icon text-center">
                        <div class="single-icon">
                            <i class="fa fa-mobile"></i>
                            <p>
                                <span>Lundi-Vendredi (9h-18h)</span><br>
                                <span>Samedi(9h-13h)</span>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Start contact icon column -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="contact-icon text-center">
                        <div class="single-icon">
                            <i class="fa fa-envelope-o"></i>
                            <p>
                                Tel : +229 52 52 52 31<br>
                                <span>Email contact.it-servicegroup.com</span>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Start contact icon column -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="contact-icon text-center">
                        <div class="single-icon">
                            <i class="fa fa-map-marker"></i>
                            <p>
                                Adresse : 01BP128 Cotonou<br>
                                <span>Cotonou, Rep Benin</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% if submited %}
            <div class="alert alert-success" role="alert">
                <marquee direction="right"><p style="height: 5px;"></p>Votre message a été bien envoyer. Merci</p></marquee>
            </div>
        {% else %}
            {% if models.errors %}
                {% for errors in models.error %}
                    <div class="alert alert-danger" role="alert">
                        <marquee direction="right"><p style="height: 5px;">
                            Cette champs est requis : {{error}}
                        <</marquee>
                    </div>
                {% endfor %}
            {% endif %}
        {% endif %}
        <div class="row">
             <div class="col-md-12 col-sm-12 col-xs-12">

                <div class="login-page">
                    <div class="login-form signup-form">
                        <div class="row">
                        
                            <form  method="POST" action="" class="contact-form">

                                {% csrf_token %}

                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" name='name' id="name" class="form-control" placeholder="Name" required data-error="Please enter your name">
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="email" name='email' class="email form-control" id="email" placeholder="Email" required data-error="Please enter your email">
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <input type="text" name='subject' id="msg_subject" class="form-control" placeholder="Subject" required data-error="Please enter your message subject">
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <textarea id="message" name='message' rows="7" placeholder="Message" class="form-control" required data-error="Write your message"></textarea>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <input type="submit" id="submit" class="login-btn" value="Envoyez" />
                                    <div id="msgSubmit" class="h3 hidden"></div> 
                                    <div class="clearfix"></div>
                                </div>  
                                   

                            </form>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'customer/partials/banner.html' %}



{% endblock content %}