{% extends 'customer/main.html' %}
{% load static %}
{% block content %}
<div class="page-area">
    <div class="breadcumb-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="breadcrumb text-center">
                    <div class="section-headline white-headline">
                        <h3>
                            Nos services
                        </h3>
                    </div>
                    <ul class="breadcrumb-bg">
                        <li class="home-bread">Accueil</li>
                        <li>Service</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Start Support-service Area -->
<div class="support-service-area fix area-padding-2">
    <div class="container">
        <div class="row">
            <div class="support-all">
                <!-- Start About -->
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="support-services wow ">
                        <a class="support-images" href="#"><i class="flaticon-023-management"></i></a>
                        <div class="support-content">
                            <h4>Expert management</h4>
                            <p>Replacing a  maintains the amount of lines. When replacing a selection. help agencies to define their new business objectives and then create</p>
                        </div>
                    </div>
                </div>
                <!-- Start About -->
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="support-services ">
                        <a class="support-images" href="#"><i class="flaticon-036-security"></i></a>
                        <div class="support-content">
                            <h4>Secure investment</h4>
                            <p>Replacing a  maintains the amount of lines. When replacing a selection. help agencies to define their new business objectives and then create</p>
                        </div>
                    </div>
                </div>
                <!-- Start services -->
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="support-services ">
                        <a class="support-images" href="#"><i class="flaticon-003-approve"></i></a>
                        <div class="support-content">
                            <h4>Registered company</h4>
                            <p>Replacing a  maintains the amount of lines. When replacing a selection. help agencies to define their new business objectives and then create</p>
                        </div>
                    </div>
                </div>
                <!-- Start services -->
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="support-services">
                        <a class="support-images" href="#"><i class="flaticon-042-wallet"></i></a>
                        <div class="support-content">
                            <h4>Instant withdrawal</h4>
                            <p>Replacing a  maintains the amount of lines. When replacing a selection. help agencies to define their new business objectives and then create</p>
                        </div>
                    </div>
                </div>
                <!-- Start services -->
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="support-services ">
                        <a class="support-images" href="#"><i class="flaticon-032-report"></i></a>
                        <div class="support-content">
                            <h4>Verified security</h4>
                            <p>Replacing a  maintains the amount of lines. When replacing a selection. help agencies to define their new business objectives and then create</p>
                        </div>
                    </div>
                </div>
                <!-- Start services -->
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="support-services">
                        <a class="support-images" href="#"><i class="flaticon-024-megaphone"></i></a>
                        <div class="support-content">
                            <h4>Live customer support</h4>
                            <p>Replacing a  maintains the amount of lines. When replacing a selection. help agencies to define their new business objectives and then create</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Support-service Area -->
{% include 'customer/partials/banner.html' %}
{% endblock content %}