{% extends 'administration/main.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
    <div class="col-md-12">
        <div class="row align-items-center my-3">
        <div class="col">
            <h2 class="page-title">Logo</h2>
        </div>
        <div class="col-auto">
            <a href="{% url 'add_formation' %}" type="button" class="btn btn-lg btn-secondary">
                <span class="fe fe-plus fe-16 mr-3"></span>Ajouter
            </a>
        </div>
        </div>
        <div class="file-container border-top">
        <div class="file-panel mt-4">
            <table class="table table-bordered table-responsive">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Mode</th>
                    <th scope="col">Duration</th>
                    <th scope="col">Certification</th>
                    <th scope="col">Category</th>
                    <th scope="col">Bande</th>
                    <th scope="col">Image</th>
                    <th scope="col">Active</th>
                    <th scope="col">Principal</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for formation in formations  %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{formation.name}}</td>
                    <td>{{formation.description}}</td>
                    <td>{{formation.mode}}</td>
                    <td>{{formation.duration}}</td>
                    <td>{{formation.certification}}</td>
                    <td>{{formation.category.name}}</td>
                    <td>{{formation.bande}}</td>
                    <td>
                        {%if formation.fichier %}
                        <img src="{{carousel.image.url}}" alt="{{carousel.name}}" width="200" height="100">
                        {%else%} Vide {% endif%}
                    </td>
                    <td>{%if formation.is_public == True %} Yes {%else%} No {% endif%}</td>
                    <td>{%if formation.is_principal == True %} Yes {%else%} No {% endif%}</td>
                    <td><a href="#"><i class="fe fe-pencil">Edit</i></a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            
        </div> <!-- .file-panel -->
        
        </div> <!-- .file-container -->
    </div> <!-- .col -->
    </div> <!-- .row -->
</div> <!-- .container-fluid -->
{% endblock content %}
