{% extends 'customer/main.html' %}
{% load static %}
{% block content %}


<div class="page-area">
    <div class="breadcumb-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="breadcrumb text-center">
                    <div class="section-headline white-headline">
                        <h3>
                            Forget Password
                        </h3>
                    </div>
                    <ul class="breadcrumb-bg">
                        <li class="home-bread">Accueil</li>
                        <li>Forgot password</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="signup-area page-padding">
    <div class="container"> 
        <div class="row">
            <div class=" col-md-12 col-sm-12 col-xs-12">
                <div class="login-page signup-page">
                    <div class="login-form signup-form">
                        <h4 class="login-title ">Entrer votre Email</h4>
                        <div class="row">

							<form method="POST" action="{% url 'request_password' %}" class="log-form">
								{% csrf_token %}

                                {% include 'customer/partials/message.html' %}

								<div class="col-md-12 col-sm-12 col-xs-12">
									<input type="email" name="email" id="email" class="form-control" placeholder="Email" required data-error="Entrez une adresse mail valide"
                                    
                                        value="{{values.email}}"
                                    />
								</div>
								

                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <button type="submit" id="submit" class="login-btn">Envoyer</button>
                                    <div id="msgSubmit" class="h3 hidden"></div> 
                                    <div class="clearfix"></div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="clear"></div>
                                    <div class="sign-icon">
                                        
                                        <div class="acc-not">Vous avez un compte?  <a href="{% url 'login' %}">Connexion</a></div>
                                    </div>
                                </div>
							</form>
	
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock content %}




