{% load static %}
<!-- Start Banner Area -->
<div class="banner-area area-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="banner-all area-80 text-center">
                    <div class="banner-content">
                        <h3> Vous avez un service ou un projet à réaliser. Ne perdez plus le temps! </h3>
                        <a class="banner-btn" href="{% url 'contact' %}">Contactez - nous</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Banner Area --