{% load static %}
<footer class="footer1">
    <div class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-5 col-xs-12">
                    <div class="footer-content logo-footer">
                        <div class="footer-head">
                            <div class="footer-logo">
                                <a class="footer-black-logo" href="#"><img src="img/logo/logo.png" alt=""></a>
                            </div>
                            <p>
                                ITSS, entreprise informatique, met à votre disposition ces services dans les domaines du développement de logiciels, de la consultation informatique ainsi que dans la gestion des ressources humaines.
                            </p>
                            <div class="subs-feilds">
                                <div class="suscribe-input">
                                    <!-- <form method="POST" action="{% url 'contact' %}" class="log-form">
                                        {% csrf_token %} -->
                                        <input type="email" class="email form-control width-80" id="sus_email" placeholder="Type Email">
                                        <button type="submit" id="sus_submit" class="add-btn"><a href="{% url 'contact' %}" style="color: white;">Souscrire</a></button>
                                    <!-- </form> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end single footer -->
                <div class="col-md-4 col-sm-3 col-xs-12">
                    <div class="footer-content">
                        <div class="footer-head">
                            <h4>Liens rapides</h4>
                            <ul class="footer-list">
                                <li><a href="#">A propos</a></li>
                                <li><a href="#">Services </a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Formations</a></li>
                                <li><a href="#">Offres</a></li>
                                <li><a href="#">Equipes</a></li>
                            </ul>
                            <ul class="footer-list hidden-sm">
                                <li><a href="#">Service client</a></li>
                                <li><a href="#">Discussion</a></li>
                                <li><a href="#">Notification</a></li>
                                <li><a href="#">Politique</a></li>
                                <li><a href="#">Termes & Condition</a></li>
                                <li><a href="#">Contacts</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- end single footer -->
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="footer-content last-content">
                        <div class="footer-head">
                            <h4>Information</h4> 
                            <div class="footer-contacts">
                                <p><span>Tel :</span> +229 52 52 52 31</p>
                                <p><span>Email :</span> contact@it-servicegroup.com</p>
                                <p><span>Location :</span>Akpakpa - Abokikodji</p>
                            </div> 
                            <div class="footer-icons">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-youtube"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-whatsapp"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-area-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="copyright">
                        <p>
                            Copyright © 2022
                            <a href="#">ITSS</a> Tout droit réservé
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>